html, body{
    height: 100%;
    max-height: 100%;
}
.top-container{
padding-top: 10%;
}

.general-container {
    background: url("img/bmw_bg.jpg");
    height: 100%;
    color: white;
    font-weight: 100;
}

